#.gitignore for terraria tool

.DS_Store

/lambda/custom/node_modules
test/
.ask
skill.json
.ask/config

# Models JSONS 
models

#Secret AWS Stuff
skill-package
infrastructure
ask-resources.json

skill_env
skill_env.zip

**/__pycache__