#.gitignore for terraria tool

# if im on my mac
.DS_Store

#Secret AWS Stuff
skill-package
infrastructure
ask-resources.json
skill.json
.ask

# all the node modules
skill_env
skill_env.zip

# random things that pop up when I test
test
**/__pycache__